extends layout

block content
  #wrapper
    header
      h1= title
    form#inputForm
      label(for='amount') Amount
      input(type='number',name='amount',min='0.01',step='0.01')
      label(for='category') Spent On
      select(name='category')
        each item in clist
          option(value='#{item.value}') #{item.name}
      button#btnSubmit(type="submit") submit
    #debugout