extends layout

block content
  #wrapper
    header
      h1= title
    form#inputForm(method="post",action="/saveitem")
      label(for='amount') Amount
      input(type='number',name='amount')
      label(for='spendtype') Spent On
      select(name='spendtype')
        each item in clist
          option(value='#{item.value}') #{item.name}
      button#btnSubmit(type="submit") submit
    #debugout= status