extends layout

block content
  nav
    ul
      li 
        a(href='/') Track
      li 
        a(href='/report') Report
      li
        a(href='/about') About
  #wrapper
    //- div(class='navtab')
    //-   //- h1= title
    //-   button#btnToday Today
    //-   button#btnMonth Month
    header
      //- h1= title
      h1 Monthly Overview
    div(class='maincontent')
      //- what we actually want is a div for the total and
      //- a table for the top three or five categories
      table
        each item in monthlySums
          tr
            td #{item._id}:
            td #{item.value}
          if( item._id == 'Total Spend' )
            tr
              td &nbsp;       

    //- div(class='navcontent')
    //-   p add padding to navcontent
    //-   p show number? or stacked bar per category with top 2 and then other?
    //-   p Make sure buttons have the same font family as the header on tracking page
    //-   each item in dailySums
    //-     p #{item._id}: #{item.value}